* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background-color: #e3e3e3;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/*ESTILO DO HEADER*/

header .btn-contato button,
.hero-site button,
.servicos button {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
header .btn-contato button:hover,
.interface button:hover,
.servicos button:hover {
  background-color: white;
  color: #000;
}

header {
  width: 100%;
  padding: 40px 0;
  font-family: "Poppins", serif;
  position: fixed;
  top: 0;
  left: 0;
}

header .interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  max-width: 70px;
  margin: 60px;
}

header .menu-desktop nav ul {
  list-style-type: none;
}

header .menu-desktop nav ul li {
  display: inline-block;
  margin: 0 40px;
}

header .menu-desktop nav ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
.menu-desktop nav a:hover {
  transform: scale(1.05);
}

.btn-contato button {
  width: 140px;
  height: 50px;
  margin: 50px;
}

/*Estilo do hero*/

section.hero-site {
  height: 98vh;
  background-image: url(../IMAGES/wuebsite3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero-site .interface {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-site .txt-hero h1 {
  font-size: 4em;
  font-family: sans-serif;
  line-height: 70px;
  font-weight: 100;
}

.hero-site .txt-hero h1 span {
  display: block;
  font-weight: 800;
}

.hero-site .txt-hero p {
  font-size: 25px;
  font-weight: 300;
  margin: 20px 0;
}

.hero-site .txt-hero p span {
  display: block;
}

.hero-site button {
  width: 220px;
  height: 60px;
  font-size: 20px;
}
/*Estilo das vantagens*/

section.vantagens {
  padding: 80px 0;
  margin: 80px;
}
.vantagens .itens-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10;
  margin-bottom: 60px;
}
.vantagens .itens-container .img-itens img {
  max-width: 420px;
  border-radius: 5%;
  border: 2px solid orange;
  border-bottom: outset 2px;
}
.vantagens .itens-container .txt-itens h3 {
  font-size: 3em;
  line-height: 50px;
  margin-bottom: 20px;
}
.itens-container .txt-itens h3 span {
  font-weight: 300;
}

/*Estilo dos botoes de contato*/
section.contato {
  background-color: #fff;
  padding: 80px 0;
}
.txt-contato,
.icons-contato {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.contato .txt-contato h3 {
  font-size: 2.5em;
  line-height: 50px;
  font-weight: 300;
  margin-bottom: 20px;
  margin: 50px;
}
.contato .txt-contato h3 span {
  display: block;
  font-weight: 700;
}
.contato .txt-contato p {
  margin: 50px;
}
.contato .icons-contato a {
  text-decoration: none;
}
.contato .icons-contato button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  width: 60%;
  height: 60px;
  margin: 0 auto 20px auto;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  transition: 0.5s;
}
.contato .icons-contato button i {
  font-size: 20px;
}
.contato .icons-contato button:hover {
  background-color: #000;
  color: #fff;
}
/*Estilo secao serviços*/
section.servicos {
  height: 600px;
  background-image: url(/IMAGES/websit.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  background-attachment: fixed;

  position: relative;
}

.servicos > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000a8;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.servicos > .interface {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 2;
  position: relative;
}
.servicos h3 {
  font-size: 3em;
  line-height: 50px;
  font-weight: 200;
}
.servicos h3 span {
  display: block;
  font-weight: 600;
}
.servicos p {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 300;
}
.servicos button {
  width: 240px;
  height: 60px;
}

/* Estilo da seção como funciona */

section.como-funciona {
  padding: 80px 0;
  margin-right: 50px;
}
.txt-funciona,
.instrucoes {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
  padding: 20px;
}
.como-funciona .txt-funciona {
  position: sticky;
  top: 50%;
  padding-bottom: 100px;
}
.como-funciona .txt-funciona h3 {
  font-size: 4em;
  line-height: 60px;
  font-weight: 200;
  margin: 50px;
}
.como-funciona .txt-funciona span {
  display: block;
  font-weight: 700;
}
.instrucoes .instru-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  border: 2px solid #000;
  padding: 20px;
}
.instrucoes .instru-box img {
  max-width: 100px;

  padding: 20px;
}
.instrucoes .instru-box h4 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}
.instrucoes .instru-box h4 span {
  font-weight: 300;
}
.instrucoes .instru-box p {
  line-height: 20px;
}

/* Estilo do footer*/
footer {
  background-color: #000;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

footer .top-footer button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}
footer .top-footer button:hover {
  background-color: #fff;
  color: #000;
}
footer .midle-footer {
  margin: 15px 0;
}
footer .midle-footer a {
  color: #fff;
}
footer .bottom-footer {
  border-top: 2px solid #fff;
}
footer .bottom-footer p {
  color: #fff;
  margin-top: 10px;
}
